{
  "extends": ["oclif", "oclif-typescript", "plugin:prettier/recommended"],
  "rules": {
    "unicorn/no-abusive-eslint-disable": ["off"],
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "none"
        },
        "singleline": {
          "delimiter": "semi"
        }
      }
    ]
  }
}
